{% extends 'flatpages/default.html' %}
{% load custom_filters %}

{% block title %}
News
{% endblock title %}

{% block content %}
    {%if is_not_subscriber %}
        <p class="text-center"><a href="{% url 'subscribe' category.id %}" class="btn btn-secondary btm-sm">Подписаться</a> </p>
    {% endif%}
   <h1>Все новости</h1>
        {{ news|length }}
        <hr>
        {% if category_news_list %}
            <table>
                <tr>
                    <td>Категории</td>
                    <td>Название</td>
                    <td>Дата</td>
                    <td>Описание</td>
                </tr>


                {% for new in category_news_list %}
                <tr>

                    <td>
                        {% for category in new.post_category.all %}
                            <a href="{% url 'category_list' category.id %}">{{category}}</a>
                        {% endfor %}
                    </td>
                    <td>{{ new.heading|censor }}</td>
                    <td>{{ new.creation_datetime|date:'d M Y' }}</td>
                    <td>{{ new.text|censor|truncatewords:20 }}</td>
                </tr>
                {% endfor %}

            </table>
        {% else %}
            <h2>Новостей нет!</h2>
        {% endif %}
   {# Добавляем пагинацию на страницу #}

   {# Информация о предыдущих страницах #}
   {% if page_obj.has_previous %}
       <a href="?page=1">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {# Информация о текущей странице #}
   {{ page_obj.number }}

   {# Информация о следующих страницах #}
   {% if page_obj.has_next %}
       <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}
{% endblock content %}